<div class="col-12 col-sm-6 col-lg-3 my-3 mt-0">
  <div class="d-flex flex-column align-items-center position-relative">
    <div class="position-relative w-100 d-flex flex-column align-items-center" style="height: 260px">
      <%= image_tag(album.images[0].url, class: "img-fluid img-thumbnail rounded photos position-absolute bg-secondary",
                    style: "transform: skewY(8deg)") %>
      <%= image_tag(album.images[0].url, class: "img-fluid img-thumbnail rounded photos position-absolute bg-secondary",
                    style: "transform: skewY(4deg)") %>
      <%= image_tag(album.images[0].url,
                    class: " img-fluid img-thumbnail rounded photos position-absolute bg-secondary",
                    data: { bs_toggle: "modal", bs_target: '#' + album.id.to_s }) %>
      <div class="albums-text rounded-circle flex-column g-0 d-flex align-items-center
              justify-content-center mb-0 bg-light opacity-50 position-absolute">
        <p class="mb-0"><%= album.images.size %></p>
        <p class="mb-0">Photos</p>
      </div>
      <% if current_user.id == id %>
        <% if album.mode == "Private" %>
          <% @lock_path = "lock_2.png" %>
        <% elsif album.mode == "Public" %>
          <% @lock_path = "unlocked.png" %>
        <% end %>
        <%= image_tag(@lock_path, class: "position-absolute", style: "top: 30px; right: 20px; height: 30px; width: 30px") %>
        <%= link_to "Edit", edit_album_path(album.id),
                    class: "btn fbtn position-absolute text-decoration-none opacity-50 bg-light text-center p-0",
                    style: "height: 25px; width: 50px; font-size: 16px; bottom: 50px; right: 20px",
                    data: { bs_toggle: "modal-ignore" } %>
      <% end %>
    </div>
    <p class="fbtn text-centers position-absolute" style="bottom: 0">
      <%= album.title %>
    </p>
  </div>
</div>

<div class="modal fade" id="<%= album.id %>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title fbtn text-dark" style="font-size: 20px" id="exampleModalLabel"><%= album.title %></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body justify-content-center">
        <%#= image_tag(album.images[0].url, class: "img-fluid rounded w-100 h-100") %>
        <div id="Indicators<%= album.id %>" class="carousel slide">
          <div class="carousel-indicators">
            <% album.images.each_with_index do |image, counter| %>
              <%= render partial: "albums/partials/carousel", locals: { image: image, counter: counter, id: album.id } %>
            <% end %>
          </div>
          <div class="carousel-inner">
            <% album.images.each_with_index do |image, counter| %>
              <%= render partial: 'albums/partials/photos', locals: { image: image, counter: counter } %>
            <% end %>
          </div>
          <!--          carousel indicator-->
          <% album.images.each_with_index do |image, counter| %>
            <%= render partial: "albums/partials/carouselFooter", locals: { image: image, counter: counter, id: album.id } %>
          <% end %>
        </div>
      </div>
      <div class="modal-footer justify-content-start">
        <p class="fbtn text-dark" style="font-weight: 400; font-size: 14px"><%= album.description %></p>
      </div>
    </div>
  </div>
</div>