<div class="col-12 col-sm-6 col-lg-3 my-3 d-flex flex-column align-items-center">
  <div class="position-relative" style="width: 200px; height: 200px">
    <div data-bs-toggle="modal" data-bs-target="#<%= photo.id %>">
      <%= image_tag(photo.image.url, class: "img-fluid rounded", style: "width: 200px; height: 200px") %>
    </div>
    <% if current_user.id == id %>
      <%= link_to "Edit", edit_photo_path(photo.id),
                  class: "btn position-absolute fbtn text-decoration-none opacity-50 bg-light text-center p-0",
                  style: "bottom: 3px; right: 3px; height: 25px; width: 50px; font-size: 16px" %>
      <% if photo.mode == "Private" %>
        <% @lock_path = "lock_2.png" %>
      <% elsif photo.mode == "Public" %>
        <% @lock_path = "unlocked.png" %>
      <% end %>
      <%= image_tag(@lock_path, class: "position-absolute", style: "top: 3px; right: 3px; height: 30px; width: 30px") %>
    <% end %>
  </div>
  <p class="fbtn text-center"><%= photo.title %></p>
</div>

<%= render partial: 'layouts/partials/modalphoto', locals: { photo: photo } %>