<nav class="navbar bg-white border-bottom border-secondary-subtle mb-3">
  <div class="container">
    <h2 class="navbar-brand" style="font-family: 'Roboto', sans-serif; font-weight: 700">
      New Album
    </h2>
  </div>
</nav>

<div class="container">
  <%= form_with model: @album, url: albums_path, method: :post do |f| %>
    <!--    text input-->
    <div class="row align-items-center">
      <div class="col col-12 col-md-6">
        <div class="mb-3">
          <%= f.label :title, "Title", class: "form-label",
                      style: "font-family: 'Roboto', sans-serif; font-weight: 700; font-size: 13px;" %>
          <%= f.text_field :title, class: "form-control", placeholder: "Album title" %>
        </div>

        <%= f.label :mode, "Sharing mode", class: "form-label",
                    style: "font-family: 'Roboto', sans-serif; font-weight: 700; font-size: 13px;" %>
        <%= f.select :mode, ["Public", "Private"], {}, class: "form-select" %>
      </div>

      <div class="col col-12 col-md-6">
        <div class="mb-3">
          <%= f.label :description, "Description", class: "form-label",
                      style: "font-family: 'Roboto', sans-serif;font-weight: 700;font-size: 13px;" %>
          <%= f.text_area :description, class: "form-control", rows: "6", placeholder: "Album description" %>
        </div>

      </div>
    </div>
    <!--    images input-->
    <div class="d-grid gap-4">
      <div class="rounded border-dark border-2 bg-light d-flex align-items-center justify-content-center"
           style="width: 200px; height: 200px; border-style: dashed"
           onclick="document.getElementById('album_images').click()">
        <%= image_tag("upload.svg", style: "width: 50px; height: 50px", id: "blah_1") %>
        <%= image_tag("upload.svg", class: "d-none img-fluid", style: "width: 200px, height: 200px", id: "blah_2") %>
      </div>
      <%= f.label :images, class: "d-none" %>
      <%= f.file_field :images, multiple: true, class: "d-none" %>
      <%= f.submit "Save", class: "btn btn-success", style: "width: 150px; margin-left: 25px" %>
    </div>
  <% end %>
</div>