<div class="col mb-3">
  <div class="card h-100 bg-light" style="max-width: 540px">
    <div class="row g-0 bg-light photo-card-font">
      <!--      Following user uploaded photo-->
      <div class="col-md-6" data-bs-toggle="modal" data-bs-target="#<%= photo.id %>">
        <%= image_tag(photo.image.url, class: "img-fluid rounded-start") %>
      </div>
      <div class="col-md-6">
        <!--        Photo info-->
        <div class="card-body position-relative h-100">
          <!--          follow button in discover-->
          <% if request.env["REQUEST_PATH"].include?('discover') %>
            <div class="d-flex justify-content-end">
              <% if user.followers.ids.include?(current_user.id) %>
                <%= button_to "following", unfollow_path(current_user, user), method: :patch,
                              class: "btn btn-outline-info text-white fbtn add-photo-album-button d-flex align-items-center",
                              style: " color: #3b5998; border-color: #3b5998; background-color: #3b5998; height: 20px" %>
              <% else %>
                <%= button_to "follow", follow_path(current_user, user), method: :patch,
                              class: "btn btn-outline-info fbtn add-photo-album-button d-flex align-items-center",
                              style: " color: #3b5998; border-color: #3b5998; height: 20px" %>
              <% end %>
            </div>
          <% end %>
          <div class="align-items-center d-inline-flex mb-1">
            <%= link_to public_photo_path(user.id), style: "border: none", class: "bg-light d-flex align-items-center text-decoration-none" do %>
              <!--            following user avatar-->
              <div class="me-2 mb-0 text-center avatar-header following-user-name-font">
                <% if user.avatar.file.nil? %>
                  <p class="mb-0 text-white"><%= user.fname[0] + user.lname[0] %></p>
                <% else %>
                  <%= image_tag(user.avatar.url, class: "img-thumbnail border-0 p-0 rounded-circle") %>
                <% end %>
              </div>
              <!--            following user name-->
              <p class="me-4 mb-0" style="font-weight: 700; color: #3b5998">
                <%= user.fname + ' ' + user.lname %>
              </p>
            <% end %>
          </div>
          <!--          Photo title-->
          <h5 class="card-title" style="font-weight: 700; font-size: 14px">
            <%= photo.title %>
          </h5>
          <!--          photo description-->
          <p class="card-text text-start" style="font-weight: 400; line-height: 15px; max-width: 255px">
            <%= photo.description %>
          </p>
          <!--          Photo footer-->
          <div class="d-flex justify-content-evenly align-items-center w-auto position-absolute"
               style="bottom: 10px; min-width: 200px">
            <%= render partial: 'feeds/partials/likes', locals: { photo: photo, type: 'photo', like_status: like_status } %>
            <p class="card-text d-inline-flex ms-auto">
              <small class="text-body-secondary">
                <%= photo.updated_at.in_time_zone("Asia/Ho_Chi_Minh").strftime("%I:%M %p %d/%m/%Y") %>
              </small>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%= render partial: 'layouts/partials/modalphoto', locals: { photo: photo } %>